{% extends 'base.html' %}

{% block header %}
<h1>記事作成画面</h1>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <p>タイトル:<input type="text" name="title"></p>
    <p>本文:<input type="text" name="content"></p>
    <p>画像:<input type="file" name="images"></p>
    <input type="hidden" name="author" value="{{ user.username }}">
    <input type="submit" value="新規投稿">
</form>
{% else %}
<a href="{% url 'login' %}">ログイン</a>してください
{% endif %}
{% endblock content %}