{% extends 'base.html' %}

<!-- CSSの設定 -->
{% block customcss %}
{% endblock customcss %}

<!-- ヘッダー -->
{% block header %}
ログイン中: {{ username }}
<div class="alert alert-primary" role="alert">投稿詳細</div>
{% endblock header %}

<!-- メイン表示 -->
{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル: {{ obj.title }}</p>
        <p>投稿者: {{ obj.author }}</p>
        <p>本文: {{ obj.content }}</p>
        <p><img src="{{ obj.images.url}}" width="200"></p>
        <a href="{% url 'like' obj.pk %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Like {{ obj.like }}</a>
        <a href="{% url 'read' obj.pk %}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">読んだよ {{ obj.read }}</a>
    </div>
</div>
{% endblock content %}