{% extends 'base.html' %}

<!-- CSSの設定 -->
{% block customcss %}
{% endblock customcss %}

<!-- ヘッダー -->
{% block header %}
ログイン中: {{ username }}
<div class="alert alert-primary" role="alert">社内SNS</div>
{% endblock header %}

<!-- メイン表示 -->
{% block content %}
<div class="container">
    <a href="{% url 'create' %}">新規投稿</a>
    {% for item in objects %}
    <div class="alert alert-success" role="alert">
        <p>タイトル: <a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
        <p>投稿者: {{ item.author }}</p>
        <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Like {{ item.like }}</a>
        <a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">読んだよ {{ item.read }}</a>
    </div>
    {% endfor %}
    <a href="{% url 'logout' %}">ログアウト</a>
</div>
{% endblock content %}